body {
    background-color: rgb(251, 172, 247);
    text-decoration-color: blueviolet;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    padding: 30px;

}

h1 {
    text-align: center;
    line-height: 80%;
    color: rgb(136, 255, 9);
    font-size: 60px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-optical-sizing: auto;
}

input{
    border-radius: 30%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

header {
    background-image: url('https://wellesley-college.transforms.svdcdn.com/production/Academic-Departments/Computer-Science/CPA_20240307_ACA_JH19748-Final.jpg?w=980&h=654&q=90&auto=format&fit=min&dm=1710085725&s=7b3b2840b67d839485d1fbcdfb11cb27');
    background-size: contain;
    background-repeat: repeat-x;
    background-position-x: 58%;
    background-position-y: 25%;
    height: 100%;
    position: relative;

    a {
        color: #ff039a;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}