
body {
    background-color: rgb(241, 241, 236);
    color: #242423;
    text-decoration-color: #F5CB5C;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
}

h1{
    text-align: center;
    line-height: 80%;
    color: #242423;
    font-size: 60px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;   
    margin-top: 170px;
}

h2, p{
    color: #333533;
    padding-left: 30px;

}

header {
            background-image: url('https://wellesley-college.transforms.svdcdn.com/production/Academic-Departments/Computer-Science/CPA_20240307_ACA_JH19748-Final.jpg?w=980&h=654&q=90&auto=format&fit=min&dm=1710085725&s=7b3b2840b67d839485d1fbcdfb11cb27'); 
            background-size: contain;
            background-repeat: repeat-x;
            background-position-x: 58%; 
            background-position-y:25%;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            height: 110px;

            ul {
                display: flex;
                padding-top: 20px;
                gap: 25px;
                list-style-type:none;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-start;
                z-index: 1;
            }
            
            ul li {
                margin-bottom: 5px; 
            }

            a {
                background-color: #CFDBD5;
                color: #242423;
                font-family: Helvetica, sans-serif;
                font-size: 19px;
                font-weight: bold; 
                padding:3px 3px 3px 3px;
                text-decoration: none; 
                border: none;
                border-radius: 5px;
                transition: transform 0.5s ease-in-out,
            }

            a:hover {
                transform: scale(1.06);
                background-color: #F5CB5C;
            }

            flex-container {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            
            search-bar {
                min-height:fit-content;
            }
        }